<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments.html :: head"></head>
<body class="bg-light">
    <div th:replace="fragments.html :: main-nav"></div>

    <div class="container">
        <div class="py-5 text-center">
            <h2>StudyGather</h2>>
        </div>
    </div>
    <div th:replace="fragments.html :: footer"></div>
    <script src = "/node_modules/jquery/dist/jquery.min.js"></script>
    <script src = "/node_modules/bootstrap/dist/bootstrap.bundle.min.js"></script>

    <script type = "application/javascript"></script>
        (function) () {

    }())
</body>
</html>